#header-copy
  width 100%
  height banner-height
  position fixed
  background-color clr-background-tran;

.header-icon
  margin 12px
  width 40px
  height 40px
  background clr-background center no-repeat
  border 1px solid white
  box-shadow 5px 5px 10px clr-shadow
  cursor pointer;
  transition filter 0.4s
  &:hover
    filter brightness(140%)

#menu-icon
  background-image url(menu-icon)

#srch-icon
  float right
  background-image url(srch-icon)